---
---

@import "minima";

.page-content {
	padding: 0;
}

.recipe-content {
	padding: $spacing-unit 0;
}

a {
	color: #f65656;
	&:hover {
		color: #e53b3b;
	}
	&:visited {
		color: #b41f1f;
	}
}

.crop {
	height: 150px;
	overflow: hidden;
	img {
		margin-top: -25%;
	}
}

%horizontal-list {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;

		li {
			font-weight: bold;
			span {
				font-weight: normal;
			}

			&.full {
				flex-basis: 100%;
				text-align: center;
			}
		}
	}
}

ul.none, ol.none {
	list-style: none;
	margin-left: 0;
}

li {
	margin-bottom: 0.5em;
}

.recipe-categories {
	@extend %horizontal-list;
	margin-top: 1em;
	ul {
		justify-content: center;
		li {
			margin: 0 1em;
			padding: 0.5em 1em;
			border-radius: 1em;
			background: #f65656;
			a {
				color: white!important;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.recipe-overview {
	@extend %horizontal-list;
	ul li span {
		font-style: italic;
		font-weight: bold;
	}
}

.recipe-ratings {
	@extend %horizontal-list;
}

.image {
	display: flex;
	justify-content: center;
}
